<h3> Product details </h3>
<br />

<p>
  <label {{bindAttr for="view.productName.elementId"}}> Name </label>
  {{view Ember.TextField valueBinding="name" viewName="productName"}}
</p>

<p>
  <label {{bindAttr for="view.productPrice.elementId"}}> Price </label>
  {{view Ember.TextField valueBinding="price"  viewName="productPrice"}}
</p>

<p>
  <button type="submit" {{action save}}>Save</button>
  <button type="cancel" {{action cancel}}>Cancel</button>
</p>
