<div class="row">
  <div class="span4">

    <form class="well">

      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <label  class="control-label">
              Name
            </label>
            {{view Payment.CardTextField viewName="name" valueBinding="name" class="span2"}}
            <span>
                <i {{bindAttr class="nameError:icon-remove:icon-ok"}}></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <label  class="control-label">
              Credit card number
            </label>
            {{view Payment.CardTextField viewName="cardnumber" valueBinding="cardnumber" class="input-xlarge"}}
            <span>
                <i {{bindAttr class="cardnumberError:icon-remove:icon-ok"}}></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <label class="control-label">
              CSV
            </label>
            {{view Payment.CardTextField viewName="csv" valueBinding="csv" class="input-small"}}
            <span>
                <i {{bindAttr class="csvError:icon-remove:icon-ok"}}></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </form>
  </div>
</div>
